html {
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background: #a0a0a0;
    color: #4B5658;
}

main {
    background: #f9f9f9;
    color: #4B5658;
}

@media (min-width: 576px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 0 30px;
    text-align: center;
}

main > .name {
    font-family: Arial, sans-serif;
    font-variant: small-caps;
    font-size: 3.75em;
    font-weight: 600;
}

main > .nick {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nick p {
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 600;

    margin-left: 10px;
    font-size: 1.5rem;
}
.nick img {
    width: 40px;
    height: auto;
    border-radius: 50%;

}

main > .description {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 100;
}

.icons-social i {
    padding: 10px;
    font-size: 2em;
}

.icons-social a {
    color: #4B5658;
    text-decoration: none;
}

.icons-social a svg path{
    fill: #4B5658;
}
