<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <div><a class="logo" href="/">obizip.jp</a></div>
      <div><a class="posts" href="/posts/">Posts</a></div>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>
