<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <link rel="shortcut icon" href="icon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="icon/apple-touch-icon-180x180.png" sizes="180x180">
    <link rel="icon" type="image/png" href="icon/android-chrome-192x192.png" sizes="192x192">
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <div><a class="logo" href="/">obizip.jp</a></div>
      <div><a class="posts" href="/posts/">Posts</a></div>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>
