<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://unpkg.com/ress@4.0.0/dist/ress.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <link rel="shortcut icon" href="/static/icon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/icon/apple-touch-icon-180x180.png" sizes="180x180">
    <link rel="icon" type="image/png" href="/static/icon/android-chrome-192x192.png" sizes="192x192">
    <title>{{ title }}</title>
  </head>
  <body>
	<header>
		<div class="siteident">
			<a href="/">
			<img class="siteicon" src="/static/icon/oz_profile.png"/>
			</a>
			<div class="sitename"><a href="/">obizip.jp</a></div>
		</div>
		<ul class="link">
			<li><a href="/posts/index.html">Posts</a></li>
		</ul>
	</header>
    {{ content }}
	<footer>
	&copy; 2025 <a href="/">obizip</a>
	</footer>
  </body>
</html>
