@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans+JP&display=swap");

:root {
	--font-en: "Courier Prime";
	--font-ja: "IBM Plex Sans JP", sans-serif;
}

html {
	margin: 0;
}

body {
	margin: 2em auto auto auto;
	width: min(90%, 750px);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-bottom: double;
	border-color: grey;

	& .siteident {
		display: flex;
		align-items: center;

		& img.siteicon {
			width: 2em;
			border-radius: 20%;
			margin-right: 5px;
		}

		& .sitename {
			& a {
				font-family: var(--font-en);
				font-weight: 700;
				font-style: normal;
				font-size: 1.75em;
				text-decoration: none;
				color: black;
			}
		}
	}

	& ul {
		& li {
			font-family: var(--font-en);
			font-size: 1.2em;
			list-style: none;
		}
	}
}

footer {
	margin: 100px auto 20px auto;

	& p {
		font-family: var(--font-en);
		text-align: center;
	}
}

.home {
	& h1 {
		font-family: var(--font-en);
		font-weight: 500;
		font-style: normal;

		text-align: center;
	}

	& h2 {
		font-family: var(--font-en);
		font-weight: 500;
		font-style: italic;

		margin: 1.5em 0 0.5em 0;
		text-align: center;
	}

	& p {
		font-family: var(--font-en);
		font-weight: 400;
		font-style: normal;
		font-size: 1.2em;

		line-height: 1.75;
	}

	& li {
		font-family: var(--font-en);
		font-weight: 400;
		font-style: normal;
		font-size: 1.1em;
	}

	& ul {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		& li {
			list-style: none;
			text-decoration: underline;
			text-decoration-color: lightgrey;
			line-height: 1.5em;
			padding: 0 0.5em;
		}
	}
}

/* /posts/index.html */

.posts {
	& h1 {
		font-family: var(--font-en);
		font-weight: 500;
		font-style: normal;

		margin-bottom: 5px;
	}

	& :where(p, li) {
		font-family: var(--font-ja);
	}

	& li.post_element {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 1em;
	}

	& li.post_element::after {
		content: "";
		border-top: 3px dotted;
		border-color: gray;
		flex: auto;
	}

	& .post_title {
		font-size: 1.2em;
		margin-right: 0.5em;
	}

	& .post_date {
		order: 1;
		margin-left: 0.5em;
	}
}

/* post */
article {
	& :where(h1, h2, h3, p, li) {
		font-family: var(--font-ja);
	}

	& h1 {
		text-align: center;
		margin-bottom: 0.2em;
	}

	& .createdAt {
		text-align: center;
		margin-bottom: 1em;
	}

	& :where(h2, h3, h4) {
		margin-bottom: 0.5em;
	}

	& :where(p, math, .code-display pre, img) {
		margin-bottom: 1em;
	}

	& .code-display pre {
		font-size: 1.1em;
		padding: 1em;
		border-radius: 10px;
	}

	& .code-inline {
		padding: 5px;
		border-radius: 5px;
		background-color: #eee;
	}

	& img {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 80%;
	}

	& .diagram svg {
		display: block;
		margin: auto;
	}

	& .displayMath svg {
		display: block;
		margin: auto;
	}

	/* svg { */
	/* 	display: block; */
	/* 	margin: 0 auto; */
	/* } */
}
