{{ layout "./layouts/default.vto" { title: "Posts" } }}
  <main class="posts"> 
  <h1>Posts</h1>
  {{ for post of posts }}
    <ul class="post_list">
      <li class="post_element">
        <dt class="post_title">
          <a href={{`/posts/${post.slug}.html`}}>
          {{post.title}}
          </a>
        </dt>
        <dd class="post_date">{{post.date}}</dd>
      </li>
    </ul>
  {{ /for }}
  </main>
{{ /layout }}
