{{ layout "./layouts/default.vto" { title: "Posts" } }}
  <main class="posts"> 
  <h1>Posts</h1>
  {{ for post of posts }}
    <ul class="post_list">
      <li class="post_element">
        <p>
          <a class="post_title" href={{`/posts/${post.slug}.html`}}>
          {{post.title}}
          </a>
        </p>
        <p class="post_date">{{post.date}}</p>
      </li>
    </ul>
  {{ /for }}
  </main>
{{ /layout }}
